<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <title>Sign Up & Login System - Eduardo Claudino de Carvalho</title>
    </title>
</head>

<body>
    <div>
        <h1>Redefina sua Senha</h1>
        <form action="/users/redefinicao" method="POST">
            <label for="password">Nova senha:</label>
            <input type="password" id="password" name="password" required>
            <label for="password_confirmation">Confirme a nova senha:</label>
            <input type="password" id="password_confirmation" name="password_confirmation" required>
            <input type="submit" value="Reset Password">
        </form>
    </div>

</body>

</html>